<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beacon Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="~/js/Index.js"></script>
</head>

<body>
    <!-- Icon on Header -->
    <div style="background-color: #DFD2B0">
        <div class="container-fluid">
            <div class="row">
                <img alt="Beacon Icon" src="~/images/Beacon_Icon.png" class="mx-auto d-block" style="width:5%;" />
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div style="background-color: #174960; margin-bottom: -10px;">
        <div class="container-fluid">
            <!-- Beacon Logo -->
            <div class="row">
                <div class="col-sm-12">
                    <img alt="Beacon Logo" src="~/images/beacon_logo_main.png" class="mx-auto d-block" style="margin: 1%; width: 25%; height: auto;"/>
                </div>
            </div>

            <!-- Main Section -->
            <div class="row" style="margin: 5px;">
                <!-- Left Section -->
                <div class="col-sm-5">
                    <!-- Slideshow -->
                    <div id="slideshow">
                        <!-- Image #1 -->
                        <div>
                            <img src="~/images/landingPage/image1.png" />
                        </div>

                        <!-- Image #2 -->
                        <div>
                            <img src="~/images/landingPage/image2.png" />
                        </div>

                        <!-- Image #3 -->
                        <div>
                            <img src="~/images/landingPage/image3.png" />
                        </div>

                        <!-- Image #4 -->
                        <div>
                            <img src="~/images/landingPage/image4.png" />
                        </div>

                        <!-- Image #5 -->
                        <div>
                            <img src="~/images/landingPage/image5.png" />
                        </div>

                        <!-- Image #6 -->
                        <div>
                            <img src="~/images/landingPage/image6.png" />
                        </div>

                        <!-- Image #7 -->
                        <div>
                            <img src="~/images/landingPage/image7.png" />
                        </div>


                        <!-- Image #8 -->
                        <div>
                            <img src="~/images/landingPage/image8.png" />
                        </div>


                        <!-- Image #9 -->
                        <div>
                            <img src="~/images/landingPage/image9.png" />
                        </div>
                    </div>

                    <!-- Description -->
                    <h2 style="color: lightgrey; margin: 10px; ">Find game events in real-time in the Las Vegas area.</h2>

                    <!-- Button -->
                    <button class="button" style="vertical-align:middle" onclick='window.location = "@Url.Action("RunApp", "Home")";'><span>ENTER</span></button>
                </div>

                <!-- Right Section -->
                <div class="col-sm-7">
                    <img src="https://via.placeholder.com/500x500" style="width: 100%; height: auto; margin-bottom: 30px; margin-top: 5px; max-height: 475px;"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <!--
    <div class="jumbotron text-left jumbotron-fluid" style="background-color: red; margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img alt="Beacon Logo" src="~/images/beacon_logo.png" class="logoStyle" style="width: 100%"/>
                    <p>Find game events in real-time in the Las Vegas area.</p>
                    <input type='button' id="GoToApp " value='Go To App' onclick='window.location = "@Url.Action("RunApp", "Home")";' />
                    <a href="https://google.com/" class="btn">
                        <svg width="277" height="62">
                            <defs>
                                <linearGradient id="grad1">
                                    <stop offset="0%" stop-color="#FF8282" />
                                    <stop offset="100%" stop-color="#E178ED" />
                                </linearGradient>
                            </defs>
                            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                        </svg>
                        <span style="position: absolute; left: 80px; bottom: 8px; font-weight: bold;">Get Started</span>
                    </a>
                </div>

                <div class="col-sm-8">
                    <div id="slideshow">
                        <div>
                            <img src="http://farm6.static.flickr.com/5224/5658667829_2bb7d42a9c_m.jpg">
                        </div>
                        <div>
                            <img src="http://farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
                        </div>
                        <div>
                            Pretty cool eh? This slide is proof the content can be anything.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    -->
    <!--
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="center" style="width: 100px; height: 90px" src="~/images/chessPiece_Icon.svg"></img>
                <br>
                <h3 class="text-center">Real-Time</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <img class="center" style="width: 100px; height: 100px" src="https://cdn.pixabay.com/photo/2014/04/05/12/20/chess-316898_960_720.jpg"></img>
                <br>
                <h3 class="text-center">Game Events</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <img class="center" style="width: 100px; height: 100px" src="https://cdn.pixabay.com/photo/2016/11/14/17/39/group-1824145_960_720.png"></img>
                <br>
                <h3 class="text-center">Connect</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>
        -->
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Gmap.js"></script>
<script src="~/js/MainUI.js"></script>
