@model List<Models.StoreDataModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello world, this is Beacon!</h1>
@if (Model.Count() > 0)
{
    <table style="width:100%">
        <tr>
            <th>Address</th>
            <th>Zip</th>
            <th>City</th>
            <th>State</th>
        </tr>
        @foreach (StoreDataModel data in Model)
        {
            <tr>
                <td>@data.Address</td>
                <td>@data.Zip</td>
                <td>@data.City</td>
                <td>@data.State</td>
            </tr>
          
        }
        </table>
}
