<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beacon Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="~/js/Index.js"></script>
</head>

<body>
    <!-- Icon on Header -->
    <div style="background-color: #DFD2B0">
        <div class="container-fluid">
            <div class="row">
                <img alt="Beacon Icon" src="~/images/Beacon_Icon.png" class="mx-auto d-block" style="width:5%;height:5%" />
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div style="background-color: #174960; margin-bottom: -10px;">
        <div class="container-fluid">
            <!-- Beacon Logo -->
            <div class="row">
                <div class="col-sm-12">
                    <img alt="Beacon Logo" src="~/images/beacon_logo_main.png" class="mx-auto d-block" style="margin: 1%; width: 25%; height: auto;"/>
                </div>
            </div>

            <!-- Main Section -->
            <div class="row  style="margin: 5px">
                <!-- Left Section -->
                <div class="col-sm-5 col-centered" style="max-width:700px;min-width:300px" >
                    <!-- Slideshow -->
                    <div id="slideshow">
                        <!-- Image #1 -->
                        <div>
                            <img src="~/images/landingPage/image1.png" />
                        </div>

                        <!-- Image #2 -->
                        <div>
                            <img src="~/images/landingPage/image2.png" />
                        </div>

                        <!-- Image #3 -->
                        <div>
                            <img src="~/images/landingPage/image3.png" />
                        </div>

                        <!-- Image #4 -->
                        <div>
                            <img src="~/images/landingPage/image4.png" />
                        </div>

                        <!-- Image #5 -->
                        <div>
                            <img src="~/images/landingPage/image5.png" />
                        </div>

                        <!-- Image #6 -->
                        <div>
                            <img src="~/images/landingPage/image6.png" />
                        </div>

                        <!-- Image #7 -->
                        <div>
                            <img src="~/images/landingPage/image7.png" />
                        </div>


                        <!-- Image #8 -->
                        <div>
                            <img src="~/images/landingPage/image8.png" />
                        </div>


                        <!-- Image #9 -->
                        <div>
                            <img src="~/images/landingPage/image9.png" />
                        </div>
                    </div>

                    <!-- Description -->
                    <h2 style="color: lightgrey; margin: 10px; ">Find game events in real-time in the Las Vegas area.</h2>

                    <!-- Button -->
                    <button class="button Store_Theme_3 button" style="vertical-align:middle;margin-bottom:10px;" onclick='window.location = "@Url.Action("RunApp", "Home")";'><span class="BitFont_Large">ENTER</span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Gmap.js"></script>
<script src="~/js/MainUI.js"></script>
