@using Newtonsoft;
@model List<Models.StoreEventModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="logo_header">
    <img class="logo" src="~/images/beacon_logo.png">
</div>
<div class="container-fluid">
    <div class="row" style="height:900px">
        <div class="col-sm-5 Store_vertical_Margin hidescroll  ">
            <div id="StoreEventDataWrapper"></div>
            <div id="StoreButtonHolder">
                <div id="StoreDataWrapper">
                    <partial name="~/Views/PartialViews/StorePanelGroup.cshtml" model="@Model" />
                </div>
                <div class="Center_Button">
                    <button id="AddNewStore" class="Event_Button_Go BitFont_Large" style="width:100%!important">Add New Store</button>
                </div>
            </div>
        </div>
        <div id="map" class="col-sm-6 MapBorder MapSize"></div>
    </div>
</div>
<partial name="~/Views/PartialViews/AddStoreForm.cshtml" />
<partial name="~/Views/PartialViews/AddEventForm.cshtml" />


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARC2ud3IHzqKVuh2ACGZXvSSb6r3cfGHA&callback=initMap"></script>
<script>
     var StoreCount =@Model.Count();
        var StoreObj =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        $(function () {
            $('#StartTimeValue').datetimepicker({
                format: 'LT'
            });
            $('#StartDateTimeValue').datetimepicker();
        });
</script>

