@using Newtonsoft;
@model List<Models.StoreDataModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Beacon</h1>
<p id="SignalrUpdate"></p>
<button id="Test"> Test! </button>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div id="StoreDataWrapper">
                @for (int x = 0; x < Model.Count; x++)
                {
                    <div StoreId="@Model[x].Id" id="StorePanel">
                        <h2>@Model[x].Name</h2>
                        <p>@Model[x].Address</p>
                    </div>
                }
                <button id="AddNewStore">Add New Store</button>
                <div id="AddNewStoreWrapper" hidden>
                    <form>
                        <br>Store Name:<br>
                        <input id="StoreNameInput" type="text">
                        <br>Address:<br>
                        <input id="StoreAddressInput" type="text">
                        <br>Zip:<br>
                        <input id="StoreZipInput" type="text">
                        <br>City:<br>
                        <input id="StoreCityInput" type="text">
                        <br>State:<br>
                        <input id="StoreStateInput" type="text">
                    </form>
                    <button id="SubmitNewStore"> Submit </button>
                </div>
            </div>
            <div id="StoreEventDataWrapper"> </div>
            <button id="returnStoreDataWrapperView" hidden>Return to Store List</button>

        </div>

        <div id="map" style="height:750px;width:70%;margin:0px;padding:0px" class="col-sm-7"></div>
    </div>
</div>




<div id="AlertBar" class="Slider Slider_Closed">Hey, this is hidden!</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Gmap.js"></script>
<script src="~/js/MainUI.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARC2ud3IHzqKVuh2ACGZXvSSb6r3cfGHA&callback=initMap"></script>
<script>
    var NotifyIconUrl = '@Url.Content("~/images/Marker_Notify.png")';
     var StoreCount =@Model.Count();
    var StoreObj=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
</script>