<!DOCTYPE html>
<script src="~/js/Gmap.js"></script>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Beacon</title>
    <link rel="stylesheet" href="~/css/bootstrapDatePicker/tools/content/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body style="height:100vh!important">
    <div>
        @RenderBody()
        <div class="Footer_Style page-footer">
            <hr />
            <p class="BitFont_Tight ">&copy;&nbsp; 2019 - Beacon</p>
        </div>
    </div>
    <div id="snackbar">Why are you looking through the code my man?</div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="~/lib/Moment/moment.js"></script>
<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/Hub.js"></script>
<script type="text/javascript" src="~/lib/bootstrapDatePicker/content/Scripts/bootstrap-datetimepicker.min.js"></script>

<script src="~/js/MainUI.js"></script>
<script src="~/js/StorePanel.js"></script>
<script src="~/js/StoreDetail.js"></script>
<script src="~/js/StoreForm.js"></script>
<script src="~/js/EventPanel.js"></script>
<script src="~/js/EventForm.js"></script>



