
<div class="Modal_Window">
    <button id="ButtonReturnAddEvent" class="Event_Button_Sml_No" style="height:100%!important;width:70px!important;margin-right:100px;"><img src="~/images/backArrow.png" style="width:50px"></button>

    <div class="Event_Title_Flex">
        <div>
            <p class="Side_By_Side_Data BitFont_Large" style="margin-top:13px;"> Event Name:</p>
        </div>
    </div>
    <form>
        <div class="Event_Margin ">
            <input class="Side_By_Side_Data input-group BitFont_Tight Input_Box" id="EventNameInput" autocomplete="off" type="text" />
        </div>
        <div class="Event_Margin select">
            <p class="Side_By_Side_Data BitFont_Large">Event Game:</p>
            <select id="EventGameInput"></select>
        </div>

        <p class=" BitFont_Large Event_Margin">Event Date:</p>
        <div class="Side_By_Side_Data ModalFlex">
            <div class="Side_By_Side_Data ">
                <div class=" ">
                    <p class="Side_By_Side_Data BitFont_Tight">Is the Event Today?</p>
                    <input id="EventToday" class="Side_By_Side_Data" style="width:20px!important;height:20px!important" type="checkbox" checked>


                    <div class='input-group date BitFont_Tight' id='StartTime'>
                        <input type='text' class="Input_Box" id="StartTimeValue" autocomplete="off" />
                    </div>
                    <div class='input-group date No_Show BitFont_Tight' id='StartDateTime'>
                        <input type='text' class="Input_Box" id="StartDateTimeValue" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class=" Event_Margin Side_By_Side_Data Center_Button">
        <button id="SubmitEvent" class="Event_Button_Sml BitFont_Large ">Submit New Event</button>
    </div>
</div>