<div id="NewEventForm" class="Modal_Container">
    <div id="AddNewStoreWrapper" class="Modal_Container" style="width:275px!important">
        <div class="Modal_Window">
            <div class="Event_Title_Flex">
                <div class="Center_Button">
                    <button id="returnAddStore" class="Event_Button_Sml" style="height:35px!important;width:55px!important;margin-top:5px;margin-bottom:5px;margin-right:5px" hidden><img src="~/images/backArrow.png" style="width:30px"></button>
                </div>
                <div>
                    <p class="BitFont_Large" style="margin-top:13px;">Store Name:<p>
                </div>
            </div>
            <form>
                <input id="StoreNameInput" class="Input_Box BitFont_Tight" type="text" autocomplete="off">
                <p class="BitFont_Large">Address:<p>
                    <input id="StoreAddressInput" class="Input_Box BitFont_Tight" type="text" autocomplete="off">
                <p class="BitFont_Large">Zip:<p>
                    <input id="StoreZipInput" class="Input_Box BitFont_Tight" type="text" autocomplete="off">
                <p class="BitFont_Large">City:<p>
                    <input id="StoreCityInput" class="Input_Box BitFont_Tight" type="text" autocomplete="off">
                <p class="BitFont_Large">State:<p>
                    <input id="StoreStateInput" class="Input_Box BitFont_Tight" type="text" autocomplete="off">
            </form>
            <div class="Center_Button Panel_Margin">
                <button id="SubmitNewStore" class="Event_Button_Sml BitFont_Large"> Submit </button>
            </div>
        </div>
    </div>
</div>


